body {
    font-family: monospace;
    font-size: 14px;
    color: #ffffffaa;
    background: black;
    padding: 20px;
}
.white {
    color: white;
}
.red {
    color: red;
}
.shellTextInput {
    color: white;
    background: black;
    border: none transparent;
    outline: none;
    font-family: monospace;
    font-size: 14px;
}
